@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

@font-face {
  font-family: "HK Grotesk";
  src: local("HKGrotesk-Regular"),
    url("../font/HKGrotesk-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: local("HKGrotesk-SemiBold"),
    url("../font/HKGrotesk-SemiBold.otf") format("otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: local("HKGrotesk-Bold"), url("../font/HKGrotesk-Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-color: #fc5a5a;
  --main-text-color: #183b56;
  --secondary-text-color: #5a7184;
  --contras-color: #1565d8;
  --section-title-color: #36b37e;
  --quote-color: #3cb582;
  --grey-color: #b3bac5;
  --grey-form-color: #959ead;
  --form-border-color: #c3cad9;
  --main-gap: 40px;
}

html {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

/* GLOBAL */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 150px;
}

.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-reset {
  text-decoration: none;
  color: inherit;
}

.btn {
  padding: 13px 24px;
  background: transparent;
  border: none;
  border-radius: 50px;
  color: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* HEADER */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

.header__container {
  justify-content: space-between;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;
  color: white;
}

.header__nav {
  align-items: center;
  gap: var(--main-gap);
}

.header__nav .nav__list {
  gap: var(--main-gap);
}

.header__nav .nav__link {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header__btn {
  font-size: 16px;
  border: 2px solid white;
}

/* HERO */
.hero {
  background-color: var(--main-color);
}

.hero__container {
  padding-top: 170px;
  padding-bottom: 146px;
}

.hero__content {
  max-width: 500px;
  color: white;
}

.hero__label {
  margin: 0;
  margin-bottom: 26px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.hero__title {
  margin: 0;
  margin-bottom: 28px;
  font-family: "HK Grotesk";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px; /* 121.429% */
  letter-spacing: 0.2px;
}

.hero__descr {
  margin: 0;
  margin-bottom: 48px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.hero__btn-1 {
  margin-right: 21px;
  padding: 16px 50px;
  color: var(--main-text-color);
  background-color: white;
  border: 2px solid white;
}

.hero__btn-2 {
  margin: 0;
  padding: 16px 32px;
  border: 2px solid white;
}
